// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: rgba(246, 109, 155, 0.815);
$red: #e3342f;
$orange: #f6993f;
$yellow: #fff34ada;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$greyPink:#554455;
$darkPink:#2c0632;
$white: #ffffff;
$blueDark:#082547;
$bBcolor:#ff5a60;
$grey:grey;
$lightGrey:lightgray;
$lightPink:#cfcbdc;
$salmon:#f7bb97;
$gradientHome:linear-gradient($blueDark,$salmon);
$gradientSponsor:radial-gradient(circle, #021d3b 0%, #fc466b 100%);
$myPink:#ff708f;
$myBlue:#0d709e;
$myMain:#18293fda;
