h1 , h2{
    text-align: center;
    color: $my_yellow;
    padding: 30px;
}

.whoContactBox{
    display: flex;
    padding: 50px  40px;

     .box_Contact_left{
        flex-basis: 40%; 
      
        img{
            border-radius: 10%;
            max-height: 400px;
            padding: 20px;
        }
    }

    .box_Contact_right{
        flex-basis: 60%;
        padding: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        ul li a{
            color: $lightPink;
            font-size: larger;
            line-height: 35px;
        }

        .my_contact_title{               
            font-weight: bold;
            color: $my_yellow;
         }
    }
      
}

//responsive zone 

 // smartwatch display < 749px
@media screen and (max-width: 749px){
   
    .whoContactBox{
            padding: 0px  20px;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            
            
        .box_Contact_right{
            display: flex;
            flex-direction: column-reverse;           
            padding: 10px;
                         
            ul {
                width: 100%;
                margin-bottom:15px ;
            }        
        }
            
        .box_Contact_left > iframe{
            width: 100% !important;
            height: 100% !important;
        }
    }
}

/* tablet version */
@media screen and (min-width: 768px)and (max-width: 1024px){
    
    h2{
        padding: 15px;
    }

    .whoContactBox{   
        padding: 10px;   
       display: flex;
       flex-direction: column;
       align-items: center;
    
       ul{
           padding: 15px;
       }
   } 
}