h1 , h2{
    text-align: center;
    color: $my_yellow;
    padding: 30px;
}


.whoContactBox{
    display: flex;
    padding: 50px  30px;

     .box_Contact_left{
        flex-basis: 40%; 
      
        img{
            border-radius: 10%;
            max-height: 400px;
            padding: 20px;
        }
    }

    .box_Contact_right{
        flex-basis: 60%;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        ul li a{
            color: $lightPink;
            text-align: center;
            margin: 50px;
            font-size: larger;
        }
        
        .my_contact_title{               
                    font-weight: bold;
                    color: $my_yellow;
                    padding-bottom: 10px;
                }
    }
      
}