.my_footer {
    padding: 20px 50px;
    background-color:$blueDark;
    min-height: 430px;
    .my_footer-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        .my_title-footer{
                    text-align: center;
                    font-weight: bold;
                    color: $my_yellow;
                }

            .my_footer-up {
                width: 100%;
                display: flex;
                padding-bottom: 20px;
                border-top: 2px solid $my_yellow;

            

                .my_footer_left, .my_footer-right {
                    flex-basis: 50%;
                    text-align: center;
                //    border: 2px solid $yellow;
                    border-radius: 10px;
                    margin: 10px;
                    
                }
                .list_footer  {
                        color: $white;
                    }
     
        }

        .my_footer-down {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 45px;

            p {
                color: $my_yellow;   
            }

            ul li , a{
                margin-left: 10px;
                display: inline; 
                color: $my_yellow; 
            }
            i{
                font-size: 20px;
            }
        }
    }
}

//responsive zone 

// smartwatch display < 749px
 @media screen and (max-width: 749px){
     .my_footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;

        .my_footer-box{
        
            .my_footer-up{
                flex-direction: column;
            }
            .my_footer-down{
                flex-direction: column-reverse;
                align-items: center;
                padding: 5px;
                p{
                    font-size: 5px;
                }

               
            }
        }
     }
 }

 /* tablet version */
@media screen and (min-width: 768px)and (max-width: 1024px){
    .my_footer-box{
    
        .my_footer-down{
            flex-direction: column;
            align-items: center;
            p{
                font-size: 13px;
            }

            ul li a i {
                margin-top: 15px;
            }
        }
    }
}