main{
    background-color: $myMain;
}

.box_main{
    display: flex;
    padding-left: 70px;
    padding-top: 50px;

    .box_main_left{
        flex-basis: 40%; 
      
        img{
            border-radius: 50%;
            max-height: 500px;
            padding: 20px;
        }
    }
    
    .box_main_right{
        flex-basis: 60%;
        display: flex;
        flex-direction: column;

        h1 , h4{
            color: $my_yellow;
            text-align: center;
        }

        p{
            margin-top: 70px;
            color: $lightPink;
            text-align: center;
            font-size: 27px;
            font-family: cursive;
        }
    }
  
}
