.whoIamBox{
    display: flex;
    padding: 50px  30px;

    h2{
        @media screen and (min-width: 999px){
                   display: none;
                }     
    }

     .box_who_left{
        flex-basis: 40%; 
      
        img{
            border-radius: 10%;
            max-height: 400px;
            padding: 20px;
        }
    }

    .box_who_right{
        flex-basis: 60%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
            color: $lightPink;
            text-align: justify;
           
        }
    }
}


//responsive zone 

 // smartwatch display < 749px
@media screen and (max-width: 749px){

    .whoIamBox{
        display: flex;
        flex-direction: column-reverse;
        padding: 5px;
        max-width: 100%;
        
        img{
            
            max-height: 300px;
            max-width:100% ;
        }
    }
    
    .down {
          display: flex;
        flex-direction: column;
    }

}

 /* tablet version */
@media screen and (min-width: 768px)and (max-width: 1024px){

    .whoIamBox{
        display: flex;
        flex-direction: column-reverse;
        padding: 5px;
        
        img{
            max-height: 300px;
            max-width:100% ;
        }
    }
    
    .down {
        display: flex;
        flex-direction: column;
    }

}