.box_friends{
display: flex;

    .polaroid{
        margin: auto;
        padding: 50px;
        transition: 2s;
        
            &:hover {
                    transform : scale(0.9);    
                     }

        .esterno{
            height: 340px;
            width: 300px;
            border: 1px solid white;
            background-color: white;
          
         p, a {
            text-align: center;
            margin-top: 20px;
            font-family: cursive;
            font-size: 23px;
            color: $myMain;
           }

            .interno{
                height: 230px;
                width: 250px;
                background-color: $myMain;
                margin:auto;
                margin-top: 20px;
                img{
                    max-width: 100%;               
                }
            }

        }
    }  
}


//responsive zone 

// smartwatch display < 749px
 @media screen and (max-width: 749px){
     .box_friends{
         display: flex;
         flex-wrap: wrap;
         padding: 15px ;

         .polaroid{
            padding: 15px;
         }
     }
 }

  /* tablet version */
@media screen and (min-width: 768px)and (max-width: 1024px){
     
    .box_friends{
         display: flex;
         flex-wrap: wrap;
         padding: 15px ;

         .polaroid{
            padding: 15px;
         }
     }
}