@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

main {
  margin-top: 100px;
  min-height: calc(100vh - 500px);
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.my_nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100px;
  background-color: rgba(246, 109, 155, 0.815);
  color: #ffffff;
  padding: 0;
}

.my_nav .nav_item {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_nav .navbar-left img {
  max-height: 60px;
}

.my_nav .navbar-right .menu li {
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.my_nav .navbar-right a {
  color: #082547;
}

.my_nav .navbar-right a:hover {
  text-decoration: none;
  cursor: pointer;
}

.my_nav .contact {
  display: flex;
  justify-content: space-around;
  background-color: #082547;
  padding: 5px;
}

.my_footer {
  padding: 20px 50px;
  background-color: #082547;
  min-height: 430px;
}

.my_footer .my_footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_footer .my_footer-box .my_footer-up {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.my_footer .my_footer-box .my_footer-up ul {
  width: 25%;
}

@media screen and (max-width: 999px) {
  .my_footer .my_footer-box .my_footer-up ul {
    width: 50%;
  }
}

@media screen and (max-width: 599px) {
  .my_footer .my_footer-box .my_footer-up ul {
    width: 100%;
  }
}

.my_footer .my_footer-box .my_footer-up ul li {
  margin: 15px 0;
}

.my_footer .my_footer-box .my_footer-up ul li a {
  color: #ffffff;
}

.my_footer .my_footer-box .my_footer-up ul .my_title-footer {
  font-size: 16px;
  font-weight: bold;
  color: #ff708f;
}

.my_footer .my_footer-box .my_footer-down {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.my_footer .my_footer-box .my_footer-down p,
.my_footer .my_footer-box .my_footer-down a {
  color: #ff708f;
}

.my_footer .my_footer-box .my_footer-down ul li {
  margin-left: 15px;
  display: inline;
}

.my_footer .my_footer-box .my_footer-down ul li a {
  color: #ff708f;
}

main {
  background-color: #18293fda;
}

.box_main {
  display: flex;
  padding-left: 70px;
}

.box_main .box_main_left {
  flex-basis: 40%;
}

.box_main .box_main_left h1 {
  color: #ffffff;
  padding: 20px 70px;
}

.box_main .box_main_left img {
  border-radius: 50%;
  max-height: 500px;
  padding: 20px;
}

.box_main .box_main_right {
  flex-basis: 60%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_main .box_main_right h3 {
  color: #ffffff;
  padding-bottom: 10px;
  text-align: center;
}

.box_main .box_main_right p {
  color: #cfcbdc;
  text-align: center;
  font-size: 17px;
}

